
$font-baloo : "Baloo Thambi 2", cursive;
$font-raleway : "Raleway", cursive;
$font-rubik : "Rubik", cursive;
$font-ubuntu : 'Ubuntu', monospace;
$color-primary: #003859;
$color-second: #00A5C4;
$color-yellow: #FFD289;
$color-border: #e5e5e5;
